---
layout: "base"
---

<section class="section p-0">
    <div class="content">
        <section class="hero is-dark is-fullheight" style="background-image: url('{{ imageUrl | safe }}'); background-repeat: no-repeat; background-position: 50% 0%; background-size: cover;">
            <div class="hero-body">
                <div class="container has-text-left">
                    <h1 class="title has-text-warning">{{ heroTitle }}</h1>
                </div>
            </div>
            <div class="hero-foot has-text-centered" style="padding-bottom: 5em">
                <span class="icon is-large has-text-warning box">
                    <i class="{{ icon }} is-size-3"></i>
                </span>
            </div>
        </section>
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <h1 class="title has-text-info mt-5 is-size-2">{{ heroTitle }}</h1>
                {{ content | safe }}
                {% include "partials/post-grid.njk" %}
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>


<style>
@keyframes wobble {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}

.card:hover {
 animation: wobble 0.5s ease-in-out infinite;
}
</style>