---
layout: "base"
---

<section class="section">
    <div class="content">
        <div class="columns">
            <div class="column"></div>
            <div class="column is-two-thirds">
                <h1 class="title has-text-info">{{ title }}</h1>
                <p class="subtitle is-6">
                    Author: {{ author }} (Published: <time datetime="{{ page.date }}">{{ page.date | readableDate }}</time>)
                </p>
                {% include "partials/page-image.njk" %}
                {% if title == "Cambray Baptist Church" %}
                {% include "partials/cambray-vision.njk" %}
                {% endif %}
                {{ content | safe }}
            </div>
            <div class="column"></div>
        </div>
    </div>
</section>
