<div class="has-background-white">
<h1 id="vision">Our Vision</h1>
<img style="shape-outside: url('https://easy-publish.online/content/images/2020/12/CBC-vision-2.png'); width: auto; float:left; padding-bottom:2em; margin-right:1em; margin-bottom: 2em;" src="https://easy-publish.online/content/images/2020/12/CBC-vision-2.png" alt=""/>
<p class="pl-4 pr-4 mb-6" style="color:black;">Our vision is encapsulated in three words: <em>Love</em>, <em>Grow</em>, <em>Go</em>.  We long that others should come to know the Lord and start their walk of love with Him.  We are passionate about growing together in the Lord, with Small Groups, Discipleship training and in-depth Bible teaching at the heart of our church life.  And we want to see the output of that growth in the worship of lives spent serving the Lord in order that the gospel go out into the heart of Cheltenham, across our town, into our country and the world.
</p>
</br class="pb-6">
</br class="pb-6">
</br class="pb-6">
</br class="pb-6">
</div>
