<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile mt-5 is-8 is-centered">
            {% for church in collections.church %}
                {% include "partials/church-card.njk" %}
            {% endfor %}
        </div>
    </div>
</section>