<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile mt-5 is-8 is-centered">
                {% for events in collections.events %}
                    {% include "partials/events-card.njk" %}
                {% endfor %}
        </div>
    </div>
</section>