<section class="section">
    <div class="container">
        <div class="columns is-multiline is-mobile mt-5 is-8 is-centered">
                {% for ministry in collections.ministry %}
                    {% include "partials/ministry-card.njk" %}
                {% endfor %}
        </div>
    </div>
</section>